src/main/resources/xmlSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="FindPlaceFromTextResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="candidates">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" type="xs:string" />
                            <xs:element name="formatted_address" type="xs:string" />
                            <xs:element name="geometry">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="location">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="lat" type="xs:decimal" />
                                                    <xs:element name="lng" type="xs:decimal" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="viewport">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="southwest">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="lat" type="xs:decimal" />
                                                                <xs:element name="lng" type="xs:decimal" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                    <xs:element name="northeast">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="lat" type="xs:decimal" />
                                                                <xs:element name="lng" type="xs:decimal" />
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="status" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>